<div class="song-info">

  <h2 class="song-title"><%= @song.title %></h2>
  <h3 class="song-artist"><span>By</span> <%= @song.artist %></h3>
  <h3 class="song-difficulty"><%= @song.difficulty %></h3>
  <p class="song-lyrics"><%= @song.lyrics %></p>

</div>